.field--widget-entity-reference-paragraphs .paragraph-type-top .paragraph-type-title {
    float: left;
}

.field--widget-entity-reference-paragraphs .paragraph-type-top .paragraphs-dropbutton-wrapper {
    float:right;
    margin: 0em;
}

.field--widget-entity-reference-paragraphs .paragraphs-dropbutton-wrapper > input {
    margin-right: 0em;
}

.field--widget-entity-reference-paragraphs .paragraphs-dropbutton-wrapper .dropbutton-wrapper {
    padding-right: 0em;
    margin-right: 0em;
}

.js .field--widget-entity-reference-paragraphs .paragraphs-dropbutton-wrapper .dropbutton-wrapper {
    padding-right: 0em;
    margin-right: 0em;
}

.js .field--widget-entity-reference-paragraphs td .paragraph-type-top .paragraphs-dropbutton-wrapper .dropbutton-wrapper .dropbutton-widget,
.js .field--widget-entity-reference-paragraphs .paragraph-type-top .paragraphs-dropbutton-wrapper .dropbutton-wrapper .dropbutton-widget {
    position: relative;
}

.field--widget-entity-reference-paragraphs .paragraph-type-top {
    clear: both;
    float: left;
    margin-bottom: 1em;
    width: 100%;
}
.field--widget-entity-reference-paragraphs .paragraphs-subform {
    clear: both;
    float: left;
    width: 100%;
}

.paragraphs-dropbutton-wrapper {
    margin-top: 1em;
    display: block;
    position: relative;
    min-height: 2em;
}

.paragraphs-dropbutton-wrapper .dropbutton-widget {
    position: absolute;
    display: block;
}

.paragraphs-dropbutton-wrapper .field-add-more-submit {
    margin-right: 1em;
}

/*Changes & New adds*/

/*Adjustments to make the paragraphs more clear for users*/
.field--widget-entity-reference-paragraphs tr {
  border-left: 1px solid #bfbfba;
  border-right: 1px solid #bfbfba;
  border-bottom: 1px solid #bfbfba;
}

/*.field--widget-entity-reference-paragraphs tr:nth-child(even):not(:hover) {
  background: #fcfcfa;
}*/

.field--widget-entity-reference-paragraphs tr td {
  padding: 30px 20px;
}

.field--widget-entity-reference-paragraphs td table {
  margin-top: 30px;
}

/*Adding more spacing between fields*/
.field--widget-entity-reference-paragraphs .paragraphs-subform > .form-wrapper {
  margin-top: 15px;
}

/*Drag previous color*/
.field--widget-entity-reference-paragraphs tr.drag,
.field--widget-entity-reference-paragraphs tr.drag-previous {
  background-color: #fdf8ed;
}

/*Minimize the paragraphs for easier drag&drop*/
.field--widget-entity-reference-paragraphs tr.draggable.drag .paragraphs-subform,
.field--widget-entity-reference-paragraphs tr.draggable.collapsed .paragraphs-subform {
  display: none;
}

.field--widget-entity-reference-paragraphs tr.draggable.collapsed .paragraph-type-top {
  margin-bottom: 0;
}

.field--widget-entity-reference-paragraphs tr.draggable.drag {
  /*background: #f5f5f2;*/
  border: 3px solid #0074bd;
}

.field--widget-entity-reference-paragraphs .field-multiple-table .field-multiple-drag,
.field--widget-entity-reference-paragraphs .field-multiple-table .delta-order {
  vertical-align: top;
}

/*Warning that paragraph is changed/moved*/
.field--widget-entity-reference-paragraphs .abbr.tabledrag-changed,
.field--widget-entity-reference-paragraphs .warning.tabledrag-changed {
  position: absolute;
}
